.header {
    background-color: grey;
    padding: 20px;
    margin: 10px;
    width: fit-content;
}

.products {
    width: 100%;
    display: flex;
}

.product {
    padding: 20px;
    margin: 10px;
    background-color: skyblue;
    width: fit-content;
}

.img {
    width: 200px;
    height: 300px;
}

.btn {
    width: 200px;
    font-size: 18px;
    padding: 16px 24px;
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}